*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 91, 246);
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: .5rem;
    
}

button{
    padding: .5rem;
    border-radius: 4px;
    background-color: aqua;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}